version: '3.8'

services:
  app:
    ports:
      - "80:5000"
    restart: always
    deploy:
      resources:
        limits:
          memory: 256M
          cpus: '0.5'
        reservations:
          memory: 128M
          cpus: '0.25'

  redis:
    restart: always
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '1.0'